*{
    font-family: 'Montserrat', sans-serif;
}

/* Ajuste colorcolumna izquierda */
.bg-primary{
    background-color: #aa3a58 !important;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.progress{
    background-color: rgb(169, 164, 164) !important;
}

.progress-bar{
    background-color: #F2F2F2 !important;
}